nav {
  background-color: black;
  display: flex;
  padding: 12px;
}

.dark nav {
  background-color: beige;
}

.dark-mode--flip-button {
  display: flex;
  margin-left: auto;
}

div.dark {
  background-color: black;
}

select,
input {
  padding: 12px;
  margin: 6px 0;
  border-radius: 4px;
}
