nav {
  background-color: black;
  display: flex;
  padding: 12px;
}

nav.dark {
  background-color: white;
}

.dark-mode--flip-button {
  display: flex;
  margin-left: auto;
}

div.dark {
  background-color: black;
}
