nav {
  display: flex;
  padding: 12px;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

body.light nav {
  background-color: black;
}

body.dark nav {
  background-color: beige;
}

body.dark section {
  border-bottom: white 2px dashed;
}
