@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  font-family: "Poppins";
  text-align: center;
  margin: 0;
}

button {
  padding: 12px;
  border-radius: 4px;
}

section {
  margin: 0 20px;
  border-bottom: black 2px dashed;
}

.dark section {
  border-color: white;
}
