@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins";
  text-align: center;
  margin: 0;
}

button {
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

section {
  margin: 0 20px;
  border-bottom: black 2px dashed;
}

select,
input {
  padding: 12px;
  margin: 6px 0;
  border-radius: 4px;
}
